<div class="background-img">
  <div class="p-4 fundo">
    <mat-form-field appearance="fill" class="px-2">
      <mat-label>Nome</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field appearance="fill" class="px-2">
      <mat-label>Email</mat-label>
      <input matInput type="email" autocomplete="on" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Encomenda?</mat-label>
      <mat-select>
        <mat-option value="sim">Sim</mat-option>
        <mat-option value="não">Não</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="px-2">
      <mat-label>Assunto</mat-label>
      <input matInput autocomplete="on" />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Message</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>
